body {
  font-family: var(--text-font-family);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  color: #212121;
}
:root {
  --text-font-family: "Roboto", sans-serif;
  --heading-footer-font-family: "Raleway", sans-serif;
  --text-color: #2196f3;
}
.global-header {
  background-color: #ececec;
}

.global-header .logo {
  text-decoration: none;
  font-family: var(--heading-footer-font-family);
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.global-header .logo .web {
  color: var(--text-color);
}
.global-header .logo .studio {
  color: black;
}
ul {
  list-style-type: none;
}
.global-header .link {
  font-weight: 500;
  text-decoration: none;
  color: var(--link1-color);
}
.link:hover,
.link:focus,
.link:active {
  color: #2196f3;
}
.contacts .link {
  color: #757575;
}
.hero-heading {
  background-color: #2f303a;
}
.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.button {
  font-family: "Roboto";
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.section h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #212121;
}
.section p {
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.section h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.global-footer {
  background-color: #2f303a;
}
.logo {
  text-decoration: none;
}
.location {
  ont-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.email {
  ont-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #d9d9d9;
  text-decoration: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.phone-number {
  ont-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
